@import "materialize-css/sass/components/color-variables";
@import "materialize-css/sass/components/color-classes";
@import "materialize-css/sass/components/variables";

#calendar-header {
    display: flex;
}

#calendar-body {
    display: flex;
    flex-wrap: wrap;
}

.calendar-border-fix {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.calendar-weekday {
    width: calc(100% / 7);
    text-align: center;
    font-weight: bold;
}

.calendar-day-block {
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: calc(100% / 7);

    >span {
        text-align: center;
        width: 100%;
        display: block;
        color: gray;
    }

    >ul {
        margin: 0;
    }
}

.calendar-today {
    background-color: $primary-color;

    >span {
        color: black;
    }
}

.calendar-wrong-month {
    background-color: lightgrey;

    >span {
        color: black;
    }
}

.task-wrapper {
    position: relative;

    .task-item {
        background-color: $secondary-color;
        border-radius: 8px;
        border: 1px solid black;
        display: flex;
        padding-left: 4px;
        padding-right: 4px;
        cursor: pointer;

        .task-title {
            position: relative;
            color: black;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 1 1;
        }

        .task-strike {
            position: absolute;
            top: 55%;
            height: 2px;
            background-color: black;
            transition: width 0.5s ease;
            width: 0;

            &.active {
                width: 100%;
            }
        }

        .task-mark {
            flex: 0 0;
        }
    }

    .task-popup {
        position: absolute;
        top: 100%;
        background-color: $secondary-color;
        border-radius: 8px;
        border: 1px solid black;
        width: max-content;
    }
}
